Source: libnet-ldns-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libdevel-checklib-perl, libtest-fatal-perl, libmodule-install-perl, libmodule-install-xsutil-perl
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: https://github.com/jelu/net-ldns

Package: libnet-ldns-perl
Architecture: i386 amd64
Depends: ${misc:Depends}, ${perl:Depends}
Description: DNS-talking module based on the ldns C library
 DNS-talking module based on the ldns C library
